---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import TableButton from "../components/TableButton.astro";

var ruta = "datos_cofece.json";
const getInfo = async () => {
  const res = await fetch(ruta);
  const data = await res.json();
  const opiniones = data.opiniones || [];
  const elementos = opiniones.slice(0, 50);
  return elementos;
};
const c = await getInfo();
---

<Layout title="COFECE - Información de opiniones"> 
  <figure class="fixed right-4 bottom-4 ">
    <TableButton width={50}/>
  </figure>
    <div class="mt-28 h-screen md:px-40">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="pt-4 pb-4 flex items-center justify-between px-4">
                      <a href="info_investigaciones_pm_ci" class="bg-[#00C7B1] hover:bg-[#39948a] text-white py-1 px-4 rounded">PM-CI </a>
                      <h1 class="text-3xl font-bold text-center hidden md:block">OPINIONES</h1>  
                      <figure></figure>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="overflow-auto rounded-lg shadow hidden md:block pb-20 ml-4 mr-8">
          <table class="w-full">
            <thead class="bg-[#00c7b02c] border-b-2 border-gray-200">
            <tr>
              <th class="w-20 p-3 text-sm font-semibold tracking-wide ">EXPEDIENTE</th>
              <th class="p-2 text-sm font-semibold tracking-wide ">NOMBRE CORTO</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide ">FECHA DE EMISIÓN</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide ">CONVENIO COFECE COFEMER</th>
              <th class="w-32 p-3 text-sm font-semibold tracking-wide ">SECTOR</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 text-start">
                {
                    c.map(cons =>(
                    <tr class="bg-white">
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                        <a href="#" class="font-bold text-blue-500 hover:underline">{cons.expediente}</a>
                    </td>
                    <td class="p-3 text-sm text-start text-gray-700 whitespace-nowrap">
                        {cons.nombre_anteproyecto_documento}
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                    <span
                        class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">{cons.fecha_emision}</span>
                    </td>
                    <td class="p-3 text-sm text-green-800 whitespace-nowrap">
                        <span
                        class="p-3 text-sm text-gray-700 whitespace-nowrap text-center">{cons.convenio_Cofece_COFEMER}</span>
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap text-start">{cons.sector}</td>
                    </tr>
                    ))
                }
            </tbody>
          </table>
        </div>
     
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden pb-20 ml-4 mr-4">
      {
        c.map((cons) => (
          <div class="bg-white space-y-3 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-2 text-sm">
              <div>
                <a
                  href="#"
                  class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                >
                  {cons.fecha_emision}
                </a>
              </div>
              <div class="text-gray-500">{cons.expediente}</div>
              <div>
                <span class="text-black-500 font-bold hover:underline">
                  Anteproyecto: {cons.fecha_anteproyecto}
                </span>
              </div>
            </div>
            <div class="text-sm text-gray-700">{cons.nombre_anteproyecto_documento}</div>
            <div class="text-sm font-medium text-black">
              <span class="text-gray-500">
                Convenio: {cons.convenio_Cofece_COFEMER}
              </span>
            </div>
          </div>
        ))
      }
    </div>
</div>

<Navbar selected="" textSelected="" selected2="" textSelected2="" />
</Layout>
