---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import TableButton from "../components/TableButton.astro";

const ruta = "datos_cofece.json";
const getInfo = async () => {
  const res = await fetch(ruta);
  const data = await res.json();
  const concentraciones = data.concentraciones || [];
  const elementos = concentraciones.slice(0, 50);
  return elementos;
};
const c = await getInfo();
---

<Layout title="COFECE - Información de concentraciones">
  <figure class="fixed right-4 bottom-4 ">
    <TableButton width={50}/>
  </figure>
    <div class="mt-28 h-screen md:px-40">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="pt-4 pb-4 px-3 flex md:px-4 items-center justify-between  ">
                      <figure></figure>
                      <h1 class="text-3xl font-bold text-center hidden md:block">CONCENTRACIONES</h1>  
                      <a href="info_denuncias" class="bg-[#00C7B1] hover:bg-[#39948a] text-white py-1 px-4 rounded">DENUNCIAS</a>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="overflow-auto rounded-lg shadow hidden md:block pb-16 ml-4 mr-4">
        <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr>
            <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">EXPEDIENTE</th>
            <th class="p-3 text-sm font-semibold tracking-wide text-left">ALCANCE</th>
            <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">INGRESO</th>
            <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">RESOLUCIÓN</th>
            <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">SENTINDO DE RESOLUCIÓN</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
                {
                    c.map(cons =>(
                    <tr class="bg-white">
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                        <a href="#" class="font-bold text-blue-500 hover:underline">{cons.expediente}</a>
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                        {cons.alcance}
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                    <span
                        class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">{cons.ingreso}</span>
                    </td>
                    <td class="p-3 text-sm text-green-800 whitespace-nowrap">
                        <span
                        class="p-1.5 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">{cons.resolucion}</span>
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{cons.sentido_resolucion}</td>
                    </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
 
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden pb-20 ml-4 mr-4">
      {
        c.map((cons) => (
          <div class="bg-white space-y-3 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-2 text-sm">
              <div>
                <a
                  href="#"
                  class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                >
                  {cons.ingreso}
                </a>
              </div>
              <div class="text-gray-500">{cons.expediente}</div>
              <div>
                <spanp class="text-slate-600 font-bold hover:underline">
                  {cons.sentido_resolucion}
                </spanp>
              </div>
            </div>
            <div class="text-sm text-gray-700">{cons.alcance}</div>
            <div class="text-sm font-medium text-black">
              <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                {cons.resolucion}
              </span>
            </div>
          </div>
        ))
      }
    </div>
<Navbar selected="" textSelected="" selected2="" textSelected2="" />
</Layout>
