---
import Layout from '../layouts/Layout.astro';
var ruta = "http://localhost:4321/DATOS_COFECE.json";
const getInfo = async () => {
	const res = await fetch(ruta);
	const c = await res.json();
	return c.iebc_y_dc;
}
const c = await getInfo();
---
<Layout title="Asuntos del pleno">
	<section class="mt-48 font-bold text-black-700">
        <div class="hero__bienvenida">
            <p>Bienvenido(a) al</p>
            <h1>Panel de IEBC y DC</h1>
        </div>

    </section>
 
    <main>
        <section id="secc-reservaciones" class="reservaciones">
            <div class="reservaciones__container">
                <ul class="lista__eventos">
						<li class="border-2 border-black">									
							<div class="lista__titulo evento">
								<p class="font-bold mb-5 border-b-2 border-black p-2">EXPEDIENTE</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">TIPO</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">INICIO</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">FECHA DE RESOLUCIÓN</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">RESULTADO</p>
                                <!--<p class="font-bold mb-5 border-b-2 border-black p-2">FALTARIAN OTROS</p>
								-->
                                {
									c.map(cons => (
										<p>{cons.expediente}</p>
										<p>{cons.tipo}</p>
										<p>{cons.inicio}</p>
										<p>{cons.fecha_resolucion}</p>
										<p>{cons.resultado}</p>
									))
	
								}
							</div>
							
						</li>
                        <li class="border-2 border-black">									
							<div class="lista__titulo evento">
								<p class="font-bold mb-5 border-b-2 border-black p-2">TIPO 2</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">TERMINIO DE INVESTIGACIÓN</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">RESULTADO DE INVESTIGACIÓN</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">RESULTADO DETALLE</p>
								<p class="font-bold mb-5 border-b-2 border-black p-2">MERCADO NOMBRE CORTO</p>
                                <!--<p class="font-bold mb-5 border-b-2 border-black p-2">FALTARIAN OTROS</p>
								-->
                                {
									c.map(cons => (
										<p>{cons.tipo_2}</p>
										<p>{cons.fecha_termino_periodo_investigacion}</p>
										<p>{cons.resultado_periodo_investigacion}</p>
										<p>{cons.resultado_detalle}</p>
										<p>{cons.mercado_nombre_corto}</p>
									))
	
								}
							</div>
							
						</li>
					
				</ul>
            </div>
        </section>
    </main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
}
body {
    background-color: var(--verdeClaro);
    height: 100vh;
}
main {
    text-align: center;
}
/* HEADER */
.header {
    color: var(--blanco);

}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem .8rem;
}
.header__cuenta {
    display: flex;
    align-items: center;
}
.header__cuenta img {
    width: 45px;

}
.header__logo {
    margin-right: 5.2rem;
}
.header__logo span {
    color: var(--rosa);
}
.header__logout img{
    filter: invert(1);
    margin-right: .7rem;
    line-height: 30px;
    cursor: pointer;
}
/* HERO */
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
}
.hero__bienvenida {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}
.lista__eventos {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    margin-top: 1.5rem;
}
.evento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    color: var(--negro);
    border-radius: 10px;
}
.lista__titulo {
    color: var(--blanco);
}
.card {
    background-color: var(--blanco);
}

</style>