---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

var ruta = "http://localhost:4321/DATOS_COFECE.json";
const getInfo = async () => {
  const res = await fetch(ruta);
  const data = await res.json();
  const investigaciones_pm_ci = data.investigaciones_pm_ci || [];
  const elementos = investigaciones_pm_ci.slice(0, 50);
  return elementos;
};
const c = await getInfo();
---
<Layout title="Asuntos de Pm-Ci">
    <div class="mt-28 h-screen">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="pt-4 pb-4">
                        <a href="info_iebc_y_dc" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded m-2"><- Iebc y Dc</a>
                        <a href="info_opiniones" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded">Opiniones -></a>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="overflow-auto rounded-lg shadow hidden md:block pb-20 ml-4 mr-4">
          <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr>
              <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">EXPEDIENTE</th>
              <th class="p-3 text-sm font-semibold tracking-wide text-center">MERCADO NOMBRE CORTO</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">INICIO</th>
              <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">FECHA DE RESOLUCIÓN</th>
              <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">TIPO PRACTICA</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
                {
                    c.map(cons =>(
                    <tr class="bg-white">
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                        <a href="#" class="font-bold text-blue-500 hover:underline">{cons.expediente}</a>
                    </td>
                    <td class="p-3 text-sm text-center text-gray-700 whitespace-nowrap">
                        {cons.mercado_nombre_corto}
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                    <span
                        class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">{cons.inicio}</span>
                    </td>
                    <td class="p-3 text-sm text-green-800 whitespace-nowrap">
                        <span
                        class="p-1.5 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">{cons.fecha_resolucion}</span>
                    </td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{cons.tipo_practica}</td>
                    </tr>
                    ))
                }
            </tbody>
          </table>
        </div>
     
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden pb-20">
          {
            c.map((cons) => (
              <tr class="bg-white">
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <a href="#" class="font-bold text-blue-500 hover:underline">
                    {cons.expediente}
                  </a>
                </td>
                <td class="p-3 text-sm text-center text-gray-700 whitespace-nowrap">
                  {cons.mercado_nombre_corto}
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                    {cons.inicio}
                  </span>
                </td>
                <td class="p-3 text-sm text-green-800 whitespace-nowrap">
                  <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                    {cons.fecha_resolucion}
                  </span>
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  {cons.tipo_practica}
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>

    <main class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
      {
        c.map((cons) => (
          <div class="bg-white space-y-3 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-2 text-sm">
              <div>
                <a
                  href="#"
                  class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                >
                  {cons.inicio}
                </a>
              </div>
              <div class="text-gray-500">{cons.expediente}</div>
              <div>
                <span class="text-black-500 font-bold hover:underline">
                  {cons.tipo_practica}
                </span>
              </div>
            </div>
            <div class="text-sm text-gray-700">{cons.mercado_nombre_corto}</div>
            <div class="text-sm font-medium text-black">
              <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                {cons.fecha_resolucion}
              </span>
            </div>
          </div>
        ))
      }
    </main>

</main>

<Navbar selected="" textSelected="" selected2="" textSelected2="" />
</Layout>
